<?xml version="1.0"?>
<!-- turtlesim_demo.launch   
  Launcht mehrere Turtlesim Programme 
  Usage:
    $ roslaunch rtc turtlesim_demo.launch    
-->

<launch>
  <!--	ROS Master startet automatisch -->

  <!-- rosrun turtlesim turtle_teleop_key-->
  <node pkg="turtlesim" 
        name="teleop_node" 
        type="turtle_teleop_key"
        output="screen" 
        launch-prefix="gnome-terminal --" />

  <!-- rrosrun turtlesim turtlesim_node -->
  <node pkg="turtlesim" 
        name="turtlesim_node" 
        type="turtlesim_node"
        output="screen" 
        launch-prefix="gnome-terminal --"/> 
</launch>
