<launch>
    <!-- roslaunch turtlebot3_gazebo turtlebot3_house.launch  -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
    </include> 
    <!-- roslaunch turtlebot3_gazebo turtlebot3_gazebo_rviz.launch  -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch">
    </include> 
    <!-- roslaunch turtlebot3_slam turtlebot3_gmapping.launch  -->
    <!--include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch">
    </include--> 
  
    <!--rosrun rtc turtlebot3_server_path.py -->
    <node pkg="rtc" type="turtlebot3_server_path.py" 
          name="turtlebot3_server_path" output="screen"
          launch-prefix="gnome-terminal --tab -- /bin/bash --geometry 20x20+55+14 -e" >
    </node>
  
    <!-- rosrun rtc turtlebot3_client_path_from_file.py -->
    <node pkg="rtc" type="turtlebot3_client_path_from_file.py" 
          name="turtlebot3_client_path_from_file" output="screen"
          launch-prefix="gnome-terminal --tab -- /bin/bash --geometry 20x20+75+14 -e" >
    </node>
</launch>
